<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
  
  <!-- udpate를 실행할 때 
       값을 변경하는 컬럼에 대해서만 update를 수행하게 할 수 있다. 
       <set>과 <if> 태그를 조합하면 된다.
  -->
  <update id="update1" parameterType="board">
    update x_board set
      <if test="title != null">
        title=#{title},
      </if>
      <if test="content != null">
        contents=#{content}
      </if>
    where board_id=#{no}
  </update>
  
  <!-- set 태그는 컬럼 값을 변경하는 문장 앞뒤에 쓸데없이 붙어 있는 콤마(,)를 제거해 준다. -->
  <update id="update2" parameterType="board">
    update x_board 
    <set>
      <if test="title != null">
        title=#{title},
      </if>
      <if test="content != null">
        contents=#{content}
      </if>
    </set>  
    where board_id=#{no}
  </update>
  
</mapper>







