<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- mybatis 설정 파일을 작성할 때,
       자식 태그의 순서를 지켜야 한다.
       => mybatis 설정 파일 작성 규칙에 순서를 지키도록 정의되어 있다. 
   -->
  <properties resource="com/eomcs/mybatis/ex01/jdbc.properties"></properties>

  <!-- 긴 이름의 클래스명을 사용하는 대신에 짧은 이름의 별명을 사용해보자! -->
  <typeAliases>
    <!-- 주의!
      패키지를 포함한 클래스 이름은 항상 . 으로 표기해야 한다.
      / 는 파일 경로를 가리킬 때 사용한다. 
     -->
    <typeAlias type="com.eomcs.mybatis.ex01.Board" alias="Board"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/eomcs/mybatis/ex01/BoardMapper02.xml"/>
  </mappers>
</configuration>







