<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
  
  <resultMap type="Board" id="BoardMap">
    <id column="board_id" property="no"/> 
    <result column="contents" property="content"/>
    <result column="created_date" property="registeredDate"/>
    <result column="view_count" property="viewCount"/>
  </resultMap>
  
  <!-- 다음 SQL 문의 문제점은 
       조건에 일치하는 경우가 없을 때 
       where 다음에 놓이는 조건문이 없다는 것이다.
       그래서 실행할 때 SQL문법 오류가 발생한다. -->
  <select id="select0110" resultMap="BoardMap" parameterType="map">
    select 
      board_id,
      title,    
      contents,
      created_date, 
      view_count  
    from x_board
    where 
      <if test="menuNo == 1">
        title like concat('%', #{keyword}, '%')
      </if>
      <if test="menuNo == 2">
        contents like concat('%', #{keyword}, '%')
      </if>
    order by board_id desc
  </select>

  
  <select id="select0120" resultMap="BoardMap" parameterType="map">
    select 
      board_id,
      title,    
      contents,
      created_date, 
      view_count  
    from x_board
    <where> 
      <if test="menuNo == 1">
        title like concat('%', #{keyword}, '%')
      </if>
      <if test="menuNo == 2">
        contents like concat('%', #{keyword}, '%')
      </if>
    </where>
    order by board_id desc
  </select>
  
  <!-- where 절에 여러 개의 조건이 삽입될 때 문제점 -->
  <select id="select0210" resultMap="BoardMap" parameterType="map">
    select 
      board_id,
      title,    
      contents,
      created_date, 
      view_count  
    from x_board
    where 
      <if test="title != null">
        title like concat('%', #{title}, '%')
      </if>
      <if test="contents != null">
        and contents like concat('%', #{contents}, '%')
      </if>
    order by board_id desc
  </select>
  
  <!-- where 태그를 사용하면,
       1) 조건이 한 개도 없을 경우,  where 절을 추가하지 않는다.
       2) 조건 앞뒤에 and, or 연산자가 있을 경우, 자동으로 제거한다. 
  -->
  <select id="select0220" resultMap="BoardMap" parameterType="map">
    select 
      board_id,
      title,    
      contents,
      created_date, 
      view_count  
    from x_board
    <where> 
      <if test="title != null">
        title like concat('%', #{title}, '%')
      </if>
      <if test="contents != null">
        and contents like concat('%', #{contents}, '%')
      </if>
    </where>
    order by board_id desc
  </select>
  
  <!-- <where> 태그 대신에 <trim> 태그를 사용하여 
       문장 앞뒤에 오는 OR 나 AND 를 제거할 수 있다. 
  -->
  <select id="select0230" resultMap="BoardMap" parameterType="map">
    select 
      board_id,
      title,    
      contents,
      created_date, 
      view_count  
    from x_board
    <trim prefix="where" prefixOverrides="or|and">
      <if test="title != null">
        title like concat('%', #{title}, '%')
      </if>
      <if test="contents != null">
        and contents like concat('%', #{contents}, '%')
      </if>
    </trim>   
    order by board_id desc
  </select>  
  
  <!-- 특정 조건이 있을 경우에만 select를 수행할 때, 
       1) 조건이 없으면 결과를 리턴하지 않는 방법?
          다음과 같이 where 절에 기본 조건을 명시한다.
          where 
            1!=1  <== 기본 조건. 예) 무조건 거짓이 되게 하기
  -->
  <select id="select0310" resultMap="BoardMap" parameterType="map">
    select 
      board_id,
      title,    
      contents,
      created_date, 
      view_count  
    from x_board
    where
      1!=1
      <if test="title != null">
        or title like concat('%', #{title}, '%')
      </if>
      <if test="contents != null">
        or contents like concat('%', #{contents}, '%')
      </if>
    order by board_id desc
  </select>
</mapper>







