.btn {
    border: 1px solid gray;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: blue;
    color: white;
    box-shadow: 1px 1px 2px 0px gray;
}

.btn:active {
    background-color: rgb(0, 0, 214);    
    box-shadow: 0px 0px 0px 0px gray;
}

.btn:hover {
    cursor: default;
}