**/node_modules
**/.vscode
**/bin
**/build
**/.gradle/
**/temp/
**/Debug
**/Release
**/gradle

*.DS_Store
*.classpath
*.project
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

!build.gradle
