node_modules/
.vscode/
.gradle/
.settings/
bin/
build/
temp/
Debug/
Release/

.DS_Store
.classpath
.project
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

!build.gradle
