<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL Mapper 파일:
=> SQL 문을 보관하는 파일이다.
=> SQL 문 종류에 따라 다른 태그를 사용한다.
    <select>SELECT 문</select>
    <insert>INSERT 문</insert>
    <update>UPDATE 문</update>
    <delete>DELETE 문</delete>
=> namespace 속성:  
   - SQL문이 소속된 그룹. 자바의 패키지명과 같은 역할을 한다.
   - 보통 그룹명은 SQL 맵퍼 파일이름으로 지정한다.
   - 다른 매퍼 파일과 구분하기 위해 파일의 경로명을 포함하기도 한다.
   - 실무에서는 주로 SQL을 사용할 인터페이스나 클래스 경로를 그룹명으로 지정한다.
   - 물론 어떤 이름으로 지정해도 상관없지만, 가능한 위의 규칙을 준수하는 것이 유지보수에 좋다.-->
<mapper namespace="BoardMapper">

  <!-- select 태그:
       => select 문을 보관할 때 사용한다.
       => id 속성: 
          SQL문을 찾을 때 사용할 식별자.
       => resultType 속성: 
          select 결과(한 개의 레코드 값)를 담을 객체의 타입이다. 
          클래스명은 반드시 패키지 이름을 포함(fully-qualified name=FQName=QName)해야 한다.                 
   -->
  <select id="selectBoard" resultType="com.eomcs.mybatis.ex01.c.Board">
    select 
      board_id,
      title,
      contents,
      created_date,
      view_count
    from x_board
    order by board_id desc
  </select>
</mapper>







