<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="com/eomcs/mybatis/ex01/c/jdbc.properties"></properties>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- SQL문을 모아둔 파일(SQL 맵퍼 파일이라 부른다)을 지정한다.
       SQL 맵퍼 파일에 작성해 둔 SQL문을 mybatis가 사용할 것이다. -->
  <mappers>
  
    <!-- 맵퍼 파일의 경로를 지정할 때 classpath 경로를 사용해야 한다.
         단 패키지명을 구분할 때 '.' 대신에 '/'를 사용해야 한다. -->
    <mapper resource="com/eomcs/mybatis/ex01/c/BoardMapper.xml"/>
  </mappers>
</configuration>








