<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
  
  <resultMap type="Board" id="BoardMap">
    <id column="board_id" property="no"/> 
    <!--  
    <result column="title" property="title"/>
    -->
    <result column="contents" property="content"/>
    <result column="created_date" property="registeredDate"/>
    <result column="view_count" property="viewCount"/>
  </resultMap>
  
  <resultMap type="AttachFile" id="AttachFileMap">
    <id column="board_file_id" property="fileNo"/>
    <result column="file_path" property="filePath"/>
    <result column="board_id" property="boardNo"/>
  </resultMap>
                              
  <resultMap type="Board" id="BoardWithAttachFilesMap">
    <id column="board_id" property="no"/> 
    
    <!-- 테이블 조인을 수행한 경우 컬럼 이름과 프로퍼티 이름이 같더라도 생략하면 안된다. -->  
    <result column="title" property="title"/>

    <result column="contents" property="content"/>
    <result column="created_date" property="registeredDate"/>
    <result column="view_count" property="viewCount"/>
    
    <collection property="attachFiles" ofType="AttachFile">
	    <id column="board_file_id" property="fileNo"/>
	    <result column="file_path" property="filePath"/>
	    <!-- 조인한 자식 테이블의 데이터가 없으면 AttachFile 객체를 생성하지 않는다.
	         size 가 0인 List 객체를 리턴할 것이다.
	         주의!
	         다음과 같이 자식 테이블의 값을 담을 컬럼을 지정할 때 
	         그 컬럼의 값이 NULL 아니라면 
	         자식 테이블의 데이터가 없더라도 그 값을 담기 위해 자바 객체는 무조건 생성된다.
	         그래서 최소 size가 1인 List 객체를 리턴한다. 
	    <result column="board_id" property="boardNo"/>
	     -->
    </collection>
  </resultMap>
  
  <select id="selectBoard" resultMap="BoardMap" parameterType="int">
    select 
      board_id, 
      title,    
      contents,
      created_date, 
      view_count  
    from x_board
    where board_id=#{no}
  </select>
  
  <select id="selectFiles" resultMap="AttachFileMap" parameterType="int">
    select 
      board_file_id,
      file_path,
      board_id
    from x_board_file
    where board_id=#{no}
  </select>
  
  <select id="selectBoard2" resultMap="BoardWithAttachFilesMap" parameterType="int">
    select 
      b.board_id, 
      b.title,    
      b.contents,
      b.created_date, 
      b.view_count,
      bf.board_file_id,
      bf.file_path  
    from x_board b
      left outer join x_board_file bf on b.board_id=bf.board_id
    <if test="no != null">
      where b.board_id=#{no}
    </if>
  </select>
</mapper>







