<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties resource="com/eomcs/spring/ioc/ex12/jdbc.properties"></properties>

  <typeAliases>
    <typeAlias type="com.eomcs.spring.ioc.ex12.Board" alias="Board"/>
  </typeAliases>
  
  <mappers>
    <mapper resource="com/eomcs/spring/ioc/ex12/c/BoardMapper.xml"/>
  </mappers>
</configuration>







