<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <!-- DBMS에 대한 정보를 설정한다.
       default 속성 : SQL을 실행할 때 연결할 DBMS 연결 정보의 ID
  -->
  <environments default="development">
  
    <!-- DBMS의 연결 정보는 다음과 같이 environment 태그에 설정한다. -->
    <!-- 예) 개발용 DBMS -->   
    <environment id="development">
      
      <!-- 트랜잭션 관리 방식을 지정한다. -->
      <transactionManager type="JDBC"/>
      
      <!-- DB 커넥션 풀에 관련된 정보와 DB 연결 정보를 설정한다.-->
      <dataSource type="POOLED">
        <property name="driver" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://localhost:3306/studydb"/>
        <property name="username" value="study"/>
        <property name="password" value="1111"/>
      </dataSource>
    </environment>
    
    <!-- 예) 테스트용 DBMS  -->   
    <environment id="test">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.mybatis.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://localhost:3306/studydb"/>
        <property name="username" value="study"/>
        <property name="password" value="1111"/>
      </dataSource>
    </environment>
    
    <!-- 예) 실무에서 운용할 때 사용할 DBMS  -->   
    <environment id="operation">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.mybatis.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://localhost:3306/studydb"/>
        <property name="username" value="study"/>
        <property name="password" value="1111"/>
      </dataSource>
    </environment>
  </environments>
</configuration>