<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
  
  <!-- select 결과를 Map 객체에 받을 수 있다. 
       - 각각의 레코드 값은 각각의 Map 객체에 보관된다.
       - 그리고 List에 Map 객체 목록이 보관된다.
  -->
  <select id="selectBoard" resultType="map">
    select 
      board_id,
      title,    
      contents,
      created_date, 
      view_count  
    from x_board
  </select>
</mapper>







