<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
  
  <!-- 자바 클래스를 지정할 때 mybatis 설정 파일에 별명이 등록되어 있다면,
       그 별명을 사용할 수 있다.
       참고!
       별명은 대소문자를 구분하지 않는다. -->
  <select id="selectBoard" resultType="board">
    select 
      board_id,
      title,
      contents,
      created_date,
      view_count
    from x_board
  </select>
</mapper>







