<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
  
  <!-- 
       컬럼명을 자바 객체의 프로퍼티명(셋터명)과 일치시키기:
       컬럼의 이름이 프로퍼티 이름과 다르다면,
       셋터를 호출할 수 없다.
       컬럼 이름을 프로퍼티 이름과 일치시켜야만 정확하게 호출할 수 있다.
       select 문에서 컬럼의 별명을 프로퍼티명과 같게 하라! 
  --> 
  <select id="selectBoard" resultType="Board">
    select 
      board_id as no, <!-- Board.setNo() 호출 -->
      title,    <!-- Board.setTitle() 호출 -->
      contents as content, <!-- Board.setContent() 호출 -->
      created_date as registeredDate, <!-- Board.setRegisteredDate() 호출 -->
      view_count as viewCount    <!-- Board.setViewCount() 호출 -->
    from x_board
  </select>
</mapper>







