<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
  
    <!-- SQL문은 태그 안에 작성한다.
       <select> 태그에는 select 문장을, 
       <insert> 태그에는 insert 문장을,
       <update> 태그에는 update 문장을,
       <delete> 태그에는 delete 문장을 작성한다.
       그런데 insert/update/delete 인 경우 
       <insert>/<update>/<delete> 구분없이 태그를 사용해도 된다.
       그 이유는 SQL문을 찾을 때 id 속성 값으로 찾기 때문이다.
       그럼에도 불구하고 유지보수의 일관성을 위해 
       SQL 문의 따라 적절한 태그를 사용하라!
   -->
  <select id="selectBoard" resultType="Board">
    select 
      board_id,
      title,
      contents,
      created_date,
      view_count
    from x_board
  </select>
</mapper>







