<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="false">

<!-- 컨텍스트(웹 애플리케이션 환경) 초기화 파라미터 
  => Servlet, Listener, Filter 에서 모두 사용할 수 있다.
-->
<!--  
  <context-param>
    <param-name>jdbc2.driver</param-name>
    <param-value>org.mariadb.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>jdbc2.url</param-name>
    <param-value>jdbc:mariadb://localhost:3306/studydb</param-value>
  </context-param>
  <context-param>
    <param-name>jdbc2.username</param-name>
    <param-value>study</param-value>
  </context-param>
  <context-param>
    <param-name>jdbc2.password</param-name>
    <param-value>1111</param-value>
  </context-param>
-->

	<context-param>
	  <param-name>encoding</param-name>
	  <param-value>UTF-8</param-value>
	</context-param>
	
	<context-param>
	  <param-name>aaa</param-name>
	  <param-value>hohoho</param-value>
	</context-param> 
 
<!-- 리스너 등록 -->
<!--  
  <listener>
    <listener-class>com.eomcs.web.ex02.Listener01</listener-class>
  </listener>
-->

<!-- 필터 등록 -->
<!--  
  <filter>
    <filter-name>Filter01</filter-name>
    <filter-class>com.eomcs.web.ex02.Filter01</filter-class>
  </filter>
-->

<!-- 필터를 적용할 URL을 지정 -->
<!--  
  <filter-mapping>
    <filter-name>Filter01</filter-name>
    <url-pattern>/ex02/s1</url-pattern>
  </filter-mapping>
-->

<!--  
  <filter>
    <filter-name>f1</filter-name>
    <filter-class>com.eomcs.web.ex06.Filter01</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>aaa</param-name>
      <param-value>okok</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>f1</filter-name>
    <url-pattern>/ex05/*</url-pattern>
  </filter-mapping>
-->


<!-- 서블릿 등록 -->
<!--  
  <servlet>
    <servlet-name>s01</servlet-name>
    <servlet-class>com.eomcs.web.ex01.Servlet01</servlet-class>
  </servlet>
-->

<!-- 서블릿을 실행할 때 사용할 URL path를 설정 -->  
<!--  
  <servlet-mapping>
    <servlet-name>s01</servlet-name>
    <url-pattern>/ohora/haha</url-pattern>
  </servlet-mapping>
-->

<!--    
  <servlet>
    <servlet-name>Servlet02</servlet-name>
    <servlet-class>com.eomcs.web.ex01.Servlet02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet02</servlet-name>
    <url-pattern>/ex01/s02</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Servlet03</servlet-name>
    <servlet-class>com.eomcs.web.ex01.Servlet03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Servlet03</servlet-name>
    <url-pattern>/ex01/s03</url-pattern>
  </servlet-mapping>  
-->

<!--  
  <servlet>
    <servlet-name>ex04.Servlet05</servlet-name>
    <servlet-class>com.eomcs.web.ex04.Servlet05</servlet-class>
    <multipart-config>
      <max-file-size>10000000</max-file-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex04.Servlet05</servlet-name>
    <url-pattern>/ex04/s5</url-pattern>
  </servlet-mapping>
-->  

<!--  
  <servlet>
    <servlet-name>ex06.Servlet02</servlet-name>
    <servlet-class>com.eomcs.web.ex06.Servlet02</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex06.Servlet02</servlet-name>
    <url-pattern>/ex06/s2</url-pattern>
  </servlet-mapping>
-->

<!--  
  <servlet>
    <servlet-name>ex06.Servlet04</servlet-name>
    <servlet-class>com.eomcs.web.ex06.Servlet04</servlet-class>
    <init-param>
      <param-name>jdbc.driver</param-name>
      <param-value>org.mariadb.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>jdbc.url</param-name>
      <param-value>jdbc:mariadb://localhost:3306/studydb</param-value>
    </init-param>
    <init-param>
      <param-name>jdbc.username</param-name>
      <param-value>study</param-value>
    </init-param>
    <init-param>
      <param-name>jdbc.password</param-name>
      <param-value>1111</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
-->


  <!-- 세션의 타임아웃 설정하기 
       => 단위는 분(minute)이다. -->
  <!--  
  <session-config>
    <session-timeout>1</session-timeout> 
  </session-config>
  -->
  
</web-app>
