<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- jdbc.properties 파일의 내용을 읽어온다.
       읽어온 정보는 ${프로퍼티명} 문법을 이용하여 그 값을 사용할 수 있다. -->
  <properties resource="step25/ex5/jdbc.properties"></properties>

  <!-- DBMS에 연결할 때 사용할 정보를 설정한다.
       여러 개의 연결 정보를 설정해두고 그 중에 사용할 정보를 지정할 수 있다.
       default="development"의 의미는, 
       여러 연결 정보 중에서 "development"라는 연결 정보를 사용하여 실행하겠다는 의미다. -->
  <environments default="development">
    
    <!-- 각각의 연결 정보는 다음과 같이 environment 태그에 설정한다. -->   
    <environment id="development">
    
      <!-- 트랜잭션 관리 방식을 지정한다. -->
      <transactionManager type="JDBC"/>

      <!-- DB 커넥션 풀에 관련된 정보와 DB 연결 정보를 설정한다. 
           이제 개발자가 DB 커넥션 풀을 다룰 필요가 없다.
           mybatis 프레임워크에서 관리한다. -->
      <dataSource type="POOLED">
        <!-- ${위의 .properties 파일에 저장된 프로퍼티명} -->
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <!-- SQL문을 모아둔 파일(SQL 맵퍼 파일이라 부른다)을 지정한다.
       SQL 맵퍼 파일의 작성한 SQL문을 mybatis가 사용할 것이다. -->
  <mappers>
    <!-- 맵퍼 파일의 경로를 지정할 때 classpath 경로를 사용해야 한다.
         단 패키지명을 구분할 때 '.' 대신에 '/'를 사용해야 한다. -->
    <mapper resource="step25/ex5/BoardMapper.xml"/>
  </mappers>
</configuration>







