<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="BoardMapper">

  <resultMap type="Board" id="BoardMap">
    <id column="board_id" property="no"/>
    <result column="title" property="title"/>
    <result column="contents" property="content"/>
    <result column="created_date" property="registeredDate"/>
    <result column="view_count" property="viewCount"/>
  </resultMap>
  
  <select id="selectList" resultMap="BoardMap" parameterType="map">
    select 
      board_id, 
      title, 
      contents, 
      created_date 
    from x_board
    order by board_id desc
    limit #{startIndex}, #{pageSize}
  </select>
  
  <insert id="insert" parameterType="Board">
    insert into x_board(title,contents) 
    values(#{title},#{content})
  </insert>
  
  <delete id="delete" parameterType="int">
    delete from x_board 
    where board_id=#{no}
  </delete>
</mapper>







