<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardMapper">
  
  <resultMap type="Board" id="BoardMap">
    <id column="board_id" property="no"/> 
    <result column="contents" property="content"/>
    <result column="created_date" property="registeredDate"/>
    <result column="view_count" property="viewCount"/>
  </resultMap>
  
  <!-- SQL 문에 값 삽입하기 : in-parameter 지정하기
       => parameterType에 지정된 객체의 프로퍼티 명을 사용하여 값을 삽입한다.
          예) #{프로퍼티명}
       => paramterType이 primitive/String/wrapper class 인 경우 아무 이름을 적어도 된다.
          예) #{아무이름}
       => parameterType이 Map 객체인 경우는 Map에 저장된 값의 key를 적는다.
          예) #{key} 
       => parameterType에 지정할 수 있는 타입:
       int      => _int
       Integer  => int
       String   => string
       Map      => map
       HashMap  => hashmap
       Board    => board
       ...
   -->
  <!-- selectList(sqlid, int) --> 
  <select id="select1" resultMap="BoardMap" parameterType="int">
    select 
      board_id, 
      title,    
      contents,
      created_date, 
      view_count  
    from x_board
    where board_id=#{hoho}
  </select>
  
  <!-- selectList(sqlid, string) --> 
  <select id="select2" resultMap="BoardMap" parameterType="string">
    select 
      board_id, 
      title,    
      contents,
      created_date, 
      view_count  
    from x_board
    where title=#{value}
  </select>
  
  <!-- selectList(sqlid, int) --> 
  <select id="select3" resultMap="BoardMap" parameterType="int">
    select 
      board_id, 
      title,    
      contents,
      created_date, 
      view_count  
    from x_board
    where board_id &lt; #{no}
  </select>
  
  <!-- selectList(sqlid, int) --> 
  <select id="select4" resultMap="BoardMap" parameterType="int">
  <![CDATA[
    select 
      board_id, 
      title,    
      contents,
      created_date, 
      view_count  
    from x_board
    where board_id < #{no}
  ]]>
  </select>
  
</mapper>







