<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="com/eomcs/mybatis/ex01/e/jdbc.properties"></properties>

  <typeAliases>
    <!-- 패키지에 소속된 모든 클래스에 대해 별명을 자동으로 부여할 수 있다.
         클래스 이름이 별명으로 설정된다.-->
    <package name="com.eomcs.mybatis.ex01.e"/>
  </typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>
  
  <mappers>
    <mapper resource="com/eomcs/mybatis/ex01/e/BoardMapper.xml"/>
  </mappers>
</configuration>








