<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- mybatis가 DAO 구현체를 자동 생성한다면,
     그 구현체가 SQL을 제대로 찾을 수 있도록,
     namespace의 값을 인터페이스의 QName과 같게 해야 한다. -->
<mapper namespace="bitcamp.java106.step12.ex4.BoardDao">

  <resultMap type="Board" id="BoardMap">
    <id column="bno" property="no"/>
    <result column="titl" property="title"/>
    <result column="cont" property="content"/>
    <result column="rdt" property="registeredDate"/>
  </resultMap>
  
  <select id="selectList" resultMap="BoardMap" parameterType="map">
    select 
      bno, 
      titl, 
      cont, 
      rdt 
    from ex_board
    order by bno desc
    limit #{startIndex}, #{pageSize}
  </select>
  <insert id="insert" parameterType="Board">
    insert into ex_board(titl,cont,rdt) 
    values(#{title},#{content},now())
  </insert>
  <delete id="delete" parameterType="int">
    delete from ex_board 
    where bno=#{value}
  </delete>
</mapper>







