<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="step25.ex10.BoardDao">

  <resultMap type="Board" id="BoardMap">
    <id column="bno" property="no"/>
    <result column="titl" property="title"/>
    <result column="cont" property="content"/>
    <result column="rdt" property="registeredDate"/>
  </resultMap>
  
  <select id="selectList" 
          resultMap="BoardMap" 
          parameterType="map">
    select bno, titl, rdt 
    from ex_board
    order by bno desc
  </select>
  
  <insert id="insert" parameterType="Board">
    insert into ex_board(bno,titl,cont,rdt) 
    values(#{no},#{title},#{content},now())
  </insert>
</mapper>







